# Node
frontend/node_modules/
npm-debug.log*

# Python
backend/__pycache__/
backend/*.pyc
backend/.venv
backend/venv

# Environment variables
.env

# Docker
*.log

# IDE / Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
